# ignore everything in the components dir, except the README
components/*
!components/README

# ignore everything in the guest_workspaces dir, except the README
guest_workspaces/*
!guest_workspaces/README

# .vagrant
.vagrant/

.idea
ubuntu-xenial-16.04-cloudimg-console.log

*.vmdk

TODO

*.pyc
.envrc

.DS_Store

.vscode/
