# profile for guest container
name: {name}
config:
  raw.lxc: |-
    lxc.aa_profile = unconfined
    lxc.cgroup.devices.allow = b 252:* rwm
  security.privileged: "true"
description: Swift object storage all-in-one
devices:
  eth0:
    name: eth0
    nictype: bridged
    parent: lxdbr0
    type: nic
  # commented out because the network doesn't have any dhcp leases available
  # may also need to update network setup in the bootstrap ansible role
  # eth1:
  #   name: eth1
  #   nictype: macvlan
  #   parent: eno3
  #   type: nic
{drive_sections}
  root:
    path: /
    pool: default
    type: disk
