# profile for guest container
name: {name}
config:
  raw.lxc: |-
    lxc.aa_profile = unconfined
    lxc.cgroup.devices.allow = b 252:* rwm
  security.privileged: "true"
description: Swift object storage all-in-one
devices:
  eth0:
    name: eth0
    nictype: bridged
    parent: lxdbr0
    type: nic
  disk0:
    path: /dev/sdb
    major: {major0}
    minor: {minor0}
    type: unix-block
  disk1:
    path: /dev/sdc
    major: {major1}
    minor: {minor1}
    type: unix-block
  disk2:
    path: /dev/sdd
    major: {major2}
    minor: {minor2}
    type: unix-block
  disk3:
    path: /dev/sde
    major: {major3}
    minor: {minor3}
    type: unix-block
  disk4:
    path: /dev/sdf
    major: {major4}
    minor: {minor4}
    type: unix-block
  disk5:
    path: /dev/sdg
    major: {major5}
    minor: {minor5}
    type: unix-block
  disk6:
    path: /dev/sdh
    major: {major6}
    minor: {minor6}
    type: unix-block
  disk7:
    path: /dev/sdi
    major: {major7}
    minor: {minor7}
    type: unix-block
  root:
    path: /
    pool: default
    type: disk
